    <section>
        <!--Spacer-->
        <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
        <div class="container-xxl">
            <div class="row">
                <div class="col-xl-10">
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                        <h1 class="large-heading"><%- worksdata.title %></h1>
                    </div>
                </div>
            </div>
            <!--Spacer-->
            <div class="ptf-spacer" style=" --ptf-xxl: 4.375rem;"></div>
        </div>
        <div class="container-xxl">
            <!--Animated Block-->
            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                <ul class="ptf-filters ptf-filters--style-1" id="ptf-filter-listing">
                    <li class="filter-item filter-item-active" data-filter="*">All</li>
                    <li class="filter-item" data-filter=".filter-1">Branding</li>
                    <li class="filter-item" data-filter=".filter-2">UI/UX</li>
                    <li class="filter-item" data-filter=".filter-3">Packaging</li>
                    <li class="filter-item" data-filter=".filter-4">Illustration</li>
                    <li class="filter-item" data-filter=".filter-5">Motion Video</li>
                    <li class="filter-item" data-filter=".filter-6">Product</li>
                    <li class="filter-item" data-filter=".filter-7">Animation</li>
                </ul>
            </div>
            <!--Spacer-->
            <div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
            <!--Animated Block-->
            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                <div class="ptf-isotope-grid" data-columns="1" data-layout="masonry" data-x-gap="0" data-y-gap="0" data-controls="#ptf-filter-listing">
                    <div class="grid-sizer"></div>
                    <% for(var i=0; i<worksdata.category.length; i++) {%>
                    <div class=" grid-item <%- worksdata.filter[i] %>">
                        <!--Portfolio Item-->
                        <article class="ptf-work ptf-work--style-4"><a class="ptf-work__link" href="<%- worksdata.workLink[i] %>" data-tooltip-image="<%- worksdata.toolTipImg[i] %>"></a>
                            <div class="ptf-work__category"><%- worksdata.category[i] %>
                            </div>
                            <h4 class="ptf-work__title"><%- worksdata.workTitle[i] %>
                            </h4>
                            <div class="ptf-work__date"><%- worksdata.workDate[i] %>
                            </div>
                        </article>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!--Spacer-->
        <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
    </section>
