<!DOCTYPE html>
<html class="no-js ptf-is--header-style-3 ptf-is--footer-style-1 ptf-is--custom-cursor ptf-is--footer-fixed" lang="en">

<head>
	<meta charset="utf-8">
	<title>Abstract Creative | <%- title %></title>
	<meta name="description" content="Abstract Creative is a creative, branding, and digital design studio in Houston, Texas.">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--Favicon-->
	<link rel="icon" type="image/png" href="../../img/root/favicon.png">
	<!--Framework-->
	<link rel="stylesheet" href="../../css/framework/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="../../css/framework/bootstrap-grid.min.css">
	<link rel="stylesheet" href="../../css/framework/bootstrap-utilities.min.css">
	<!--Plugins-->
	<link rel="stylesheet" href="../../css/ptf-plugins.min.css">
	<!--Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amiri&amp;display=swap">
	<link rel="stylesheet" href="../../fonts/CerebriSans/style.css">
	<!--Icons-->
	<link rel="stylesheet" href="../../fonts/LineIcons-PRO/WebFonts/Pro-Light/font-css/LinIconsPro-Light.css">
	<link rel="stylesheet" href="../../fonts/LineIcons-PRO/WebFonts/Pro-Regular/font-css/LineIcons.css">
	<link rel="stylesheet" href="../../fonts/Socicons/socicon.css">
	<!--Style-->
	<link rel="stylesheet" href="../../css/ptf-main.min.css">
	<!--Custom-->
	<link rel="stylesheet" href="../../css/custom.css">
</head>
<body>

    <div class="wrapper">

        <%- include('../partials/headerThree.ejs') %>

        <div class="layout-sidebar">
            <main class="ptf-main">
                <article class="ptf-page ptf-page--service-detail">
					<section>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
						<div class="container-xxl">
							<div class="row">
								<div class="col-xl-9">
									<!--Animated Block-->
									<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
										<h1 class="large-heading"><%- title %></h1>
										<!--Spacer-->
									</div>
								</div>
							</div>
						</div>
					</section>
					<section>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 5.625rem; --ptf-md: 2.8125rem;"></div>
						<div class="container-xxl">
							<div class="row">
								<div class="col-xl-8">
									<!--Animated Block-->
									<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
										<%- textDesc %>
									</div>
									<!--Spacer-->
									<!--Spacer-->
									<div class="ptf-spacer" style=" --ptf-xxl: 5rem;"></div>
									<!--Animated Block-->
									<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
										<h3>Our Skills</h3>
									</div>
									<!--Spacer-->
									<div class="ptf-spacer" style=" --ptf-xxl: 3.75rem;"></div>
									<div class="ptf-skill-box-grid">
										<!--Animated Block-->
										<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
											<!--Skill Box-->
											<div class="ptf-skill-box">
												<div class="ptf-skill-box__content">
													<div class="ptf-skill-box__image"><img src="../../img/root/skills/image-1.png" alt="HTML/CSS" loading="lazy"></div>
													<h6 class="ptf-skill-box__title">HTML/CSS
													</h6>
												</div>
											</div>
										</div>
										<!--Animated Block-->
										<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
											<!--Skill Box-->
											<div class="ptf-skill-box">
												<div class="ptf-skill-box__content">
													<div class="ptf-skill-box__image"><img src="../../img/root/skills/image-2.png" alt="WordPress" loading="lazy"></div>
													<h6 class="ptf-skill-box__title">WordPress
													</h6>
												</div>
											</div>
										</div>
										<!--Animated Block-->
										<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
											<!--Skill Box-->
											<div class="ptf-skill-box">
												<div class="ptf-skill-box__content">
													<div class="ptf-skill-box__image"><img src="../../img/root/skills/image-3.png" alt="Shopify" loading="lazy"></div>
													<h6 class="ptf-skill-box__title">Shopify
													</h6>
												</div>
											</div>
										</div>
										<!--Animated Block-->
										<div class="ptf-animated-block" data-aos="fade" data-aos-delay="300">
											<!--Skill Box-->
											<div class="ptf-skill-box">
												<div class="ptf-skill-box__content">
													<div class="ptf-skill-box__image"><img src="../../img/root/skills/image-4.png" alt="iOS" loading="lazy"></div>
													<h6 class="ptf-skill-box__title">iOS
													</h6>
												</div>
											</div>
										</div>
										<!--Animated Block-->
										<div class="ptf-animated-block" data-aos="fade" data-aos-delay="400">
											<!--Skill Box-->
											<div class="ptf-skill-box" style="--ptf-image-height: 75px;">
												<div class="ptf-skill-box__content">
													<div class="ptf-skill-box__image"><img src="../../img/root/skills/image-5.png" alt="Android" loading="lazy"></div>
													<h6 class="ptf-skill-box__title">Android
													</h6>
												</div>
											</div>
										</div>
									</div>
									<!--Spacer-->
									<div class="ptf-spacer" style=" --ptf-xxl: 6.875rem;"></div>
									<!--Animated Block-->
									<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
										<h3>Our Approach</h3>
										<!--Spacer-->
										<div class="ptf-spacer" style=" --ptf-xxl: 1.875rem;"></div>
										<p class="fz-18">Encouraging the use of natural systems and processes in design allows for exposure to nature, and in turn, these design approaches improve health and wellbeing.</p>
									</div>
									<!--Spacer-->
									<div class="ptf-spacer" style=" --ptf-xxl: 5.625rem;"></div>
									<!--Process Steps-->
									<ul class="ptf-process-steps">
										<li class="ptf-process-item" data-aos="fade" data-aos-delay="0">
											<h6 class="ptf-process-item__title">Partnership
											</h6>
											<p class="ptf-process-item__text">We believe in design partnership and co-creation. We like to discuss, plan and be a part of your team.
											</p>
										</li>
										<li class="ptf-process-item" data-aos="fade" data-aos-delay="100">
											<h6 class="ptf-process-item__title">Clossness
											</h6>
											<p class="ptf-process-item__text">We work closely and listen to our clients. We carefully research them to understand.
											</p>
										</li>
										<li class="ptf-process-item" data-aos="fade" data-aos-delay="200">
											<h6 class="ptf-process-item__title">Future
											</h6>
											<p class="ptf-process-item__text">We believe in strong and continous relationships. We aim to become a trusted partner of our clients, not just a service provider.
											</p>
										</li>
										<li class="ptf-process-item" data-aos="fade" data-aos-delay="300">
											<h6 class="ptf-process-item__title">Commitment
											</h6>
											<p class="ptf-process-item__text">We commit to clients with international standards, time efficiency, production, and flexible brand framework development that connects with users in all environments.
											</p>
										</li>
									</ul>
								</div>
								<div class="col-xl-4">
									<div class="ptf-sidebar ptf-sidebar--right">
										<!--Widget-->
										<div class="ptf-widget ptf-widget-services-list">
											<!--Animated Block-->
											<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
												<h4 class="ptf-widget-title">
													Other Services</h4>
												<ul>
													<% for(var i=0; i<serviceList.length; i++) {%>
													<li><a href="<%- serviceLinks[i] %>"><i class="<%- serviceIcon[i] %>"></i><%- serviceList[i] %></a></li>
													<% } %>
												</ul>
											</div>
										</div>
										<!--Widget-->
										<div class="ptf-widget ptf-widget-faq">
											<!--Animated Block-->
											<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
												<h4 class="ptf-widget-title">FAQs</h4>
												<dl class="ptf-accordion">
													<dt><a href="#">How much does website cost?</a></dt>
													<dd>Alienum phaedrum torquatos nec eu, detr periculis ex, nihil expe ndismei. Meian pericula euripidis hinc partem eiest. Eos ei nisl graecis, vixisester aperiri con sequat an. Eius lorem.]</dd>
													<dt><a href="#">How about payment?</a></dt>
													<dd>Alienum phaedrum torquatos nec eu, detr periculis ex, nihil expe ndismei. Meian pericula euripidis hinc partem eiest. Eos ei nisl graecis, vixisester aperiri con sequat an. Eius lorem.]</dd>
													<dt><a href="#">How long support that i get?</a></dt>
													<dd>Alienum phaedrum torquatos nec eu, detr periculis ex, nihil expe ndismei. Meian pericula euripidis hinc partem eiest. Eos ei nisl graecis, vixisester aperiri con sequat an. Eius lorem.]</dd>
													<dt><a href="#">If i not satify with your service, can i get a refund?</a></dt>
													<dd>Alienum phaedrum torquatos nec eu, detr periculis ex, nihil expe ndismei. Meian pericula euripidis hinc partem eiest. Eos ei nisl graecis, vixisester aperiri con sequat an. Eius lorem.]</dd>
													<dt><a href="#">Do you provide NDA Agreement?</a></dt>
													<dd>Alienum phaedrum torquatos nec eu, detr periculis ex, nihil expe ndismei. Meian pericula euripidis hinc partem eiest. Eos ei nisl graecis, vixisester aperiri con sequat an. Eius lorem.]</dd>
												</dl>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
					</section>
					<section>
						<div class="container-xxl">
							<!--Divider-->
							<div class="ptf-divider" style="--ptf-height: 1px; --ptf-color: var(--ptf-color-14);"></div>
						</div>
					</section>
					<%- include('../partials/latestProjectsTwo.ejs') %>
				</article>
            </main>
            
        </div>


    </div>
	<!--Libs-->
	<script src="../../scripts/ptf-plugins.min.js"></script>
	<script src="../../scripts/ptf-helpers.js"></script>
	<script src="../../scripts/ptf-controllers.min.js"></script>

</body>
</html>