<article class="ptf-page ptf-page--home-default">
    <section class="has-accent-1-background">
        <!--Spacer-->
        <div class="ptf-spacer" style=" --ptf-xxl: 15rem;"></div>
        <div class="container-xxl">
            <div class="row">
                <div class="col-xl-9">
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                        <h1 class="fz-230 fz-130--lg fz-90--md"><%- companyName %></h1>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 0.625rem;"></div>
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
                        <p class="fz-40 fw-bold lh-1p3 text-uppercase has-white-color"><%- identifier %></p>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 8.125rem; --ptf-md: 4.0625rem;"></div>
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
                        <p class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">We build brand & digital partnerships that help connect your customers to your business with design.</p>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 9.375rem; --ptf-md: 4.6875rem;"></div>
                    <div class="row">
                        <div class="col-xl-8">
                            <div style="max-width: 545px">
                                <!--Animated Block-->
                                <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                    <!--Divider-->
                                    <div class="ptf-divider"></div>
                                    <!--Spacer-->
                                    <div class="ptf-spacer" style=" --ptf-xxl: 4.375rem; --ptf-md: 2.1875rem;"></div>
                                    <p class="fz-24 has-white-color">We are idea-driven, working with a strong focus on advertising, branding, digital, and print design. We love crafting smart and inspired design work that focuses on a business’s goals and its customers. We do this across multiple touchpoints to help organizations achieve their goals.</p>
                                </div>
                                <!--Spacer-->
                                <div class="ptf-spacer" style=" --ptf-xxl: 6.875rem; --ptf-md: 3.4375rem;"></div>
                                <!--Animated Block-->
                                <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                    <!--Button--><a class="ptf-btn ptf-btn--primary ptf-btn--inversed" href="/about" target="_self">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 d-none d-xl-block">
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 3.75rem;"></div>
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
                        <!--Mask Image-->
                        <div class="ptf-mask-image" style="max-width: 18.25rem;"><img class="spin" src="img/root/home-default/circle-text.png" alt="" loading="lazy"><img src="img/root/home-default/circle-logo.png" alt="" loading="lazy"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--Spacer-->
        <div class="ptf-spacer" style=" --ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
    </section>
    <%- include('../partials/services.ejs') %>
    <%- include('../partials/latestProjects.ejs') %>
    <%- include('../partials/approach.ejs') %>
    <%- include('../partials/testimonials.ejs') %>
    <%- include('../partials/awards.ejs') %>
    
    
    <section>
        <div class="container-xxl">
            <!--Divider-->
            <div class="ptf-divider"></div>
        </div>
    </section>
    <section>
        <!--Spacer-->
        <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
        <div class="container-xxl">
            <!--Animated Block-->
            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                <div class="ptf-isotope-grid" data-columns="3" data-layout="masonry" data-x-gap="100" data-y-gap="90">
                    <div class="grid-sizer"></div>
                    <div class=" grid-item filter-1 filter-4">
                        <!--Blog Post-->
                        <article class="ptf-post ptf-post--style-4">
                            <div class="ptf-post__media"><img src="img/home/default/post-1.png" alt="" loading="lazy">
                                <div class="ptf-post__media__content">
                                    <header class="ptf-post__header">
                                        <div class="ptf-post__meta"><span class="cat">Product</span><span class="date">Dec 15, 2021</span>
                                        </div>
                                        <h3 class="ptf-post__title">Review product BWIB</h3>
                                    </header>
                                </div>
                            </div>
                            <div class="ptf-post__content">
                                <header class="ptf-post__header">
                                    <div class="ptf-post__meta"><span class="cat">Product</span><span class="date">Dec 15, 2021</span>
                                    </div>
                                    <h3 class="ptf-post__title"><a href="single-post.html">Review product BWIB</a>
                                    </h3>
                                </header>
                                <div class="ptf-post__excerpt">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
                                    </p>
                                </div>
                                <footer class="ptf-post__footer"><a class="ptf-read-more-link" href="single-post.html">Continue</a></footer>
                            </div>
                        </article>
                    </div>
                    <div class=" grid-item filter-1 filter-4">
                        <!--Blog Post-->
                        <article class="ptf-post ptf-post--style-4">
                            <div class="ptf-post__media"><img src="img/home/default/post-2.png" alt="" loading="lazy">
                                <div class="ptf-post__media__content">
                                    <header class="ptf-post__header">
                                        <div class="ptf-post__meta"><span class="cat">Inspiration</span><span class="date">Dec 7, 2021</span>
                                        </div>
                                        <h3 class="ptf-post__title">Site inspiration with Swiss style</h3>
                                    </header>
                                </div>
                            </div>
                            <div class="ptf-post__content">
                                <header class="ptf-post__header">
                                    <div class="ptf-post__meta"><span class="cat">Inspiration</span><span class="date">Dec 7, 2021</span>
                                    </div>
                                    <h3 class="ptf-post__title"><a href="single-post.html">Site inspiration with Swiss style</a>
                                    </h3>
                                </header>
                                <div class="ptf-post__excerpt">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
                                    </p>
                                </div>
                                <footer class="ptf-post__footer"><a class="ptf-read-more-link" href="single-post.html">Continue</a></footer>
                            </div>
                        </article>
                    </div>
                    <div class=" grid-item filter-1 filter-4">
                        <!--Blog Post-->
                        <article class="ptf-post ptf-post--style-4">
                            <div class="ptf-post__media"><img src="img/home/default/post-3.png" alt="" loading="lazy">
                                <div class="ptf-post__media__content">
                                    <header class="ptf-post__header">
                                        <div class="ptf-post__meta"><span class="cat">Community</span><span class="date">Dec 7, 2021</span>
                                        </div>
                                        <h3 class="ptf-post__title">Minimalist Trends</h3>
                                    </header>
                                </div>
                            </div>
                            <div class="ptf-post__content">
                                <header class="ptf-post__header">
                                    <div class="ptf-post__meta"><span class="cat">Community</span><span class="date">Dec 7, 2021</span>
                                    </div>
                                    <h3 class="ptf-post__title"><a href="single-post.html">Minimalist Trends</a>
                                    </h3>
                                </header>
                                <div class="ptf-post__excerpt">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
                                    </p>
                                </div>
                                <footer class="ptf-post__footer"><a class="ptf-read-more-link" href="single-post.html">Continue</a></footer>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!--Spacer-->
        <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
    </section>
</article>